/* Resets */
 @import url(http://allfont.net/allfont.css?fonts=kenyan-coffee);

body{
	color: #777;
	font-family: 'Kenyan Coffee';
	margin: 0;
}
.container{
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}

h1{
	font-size: 60px;
	font-weight: normal;
}

h2{}

h3{
	font-size: 30px;
}

h4{
	font-size: 24px;
}

h6{
	font-size: 20px;
}

p{
	font-size: 18px;
}

.btn{
	display: inline-block;
	padding: 15px 30px;
	border: 3px solid rgba(0,100,100,1);
	background-color: transparent;
	color: rgba(0,100,100,1);
	transition: all .5s ease;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

.btn:hover{
	background-color: rgba(0,100,100,1);
	color: white;
}

.btn span{
	transform: translateX(0);
	transition: all .5s ease;
	display: inline-block;
}

.btn:hover span{
	transform: translateX(5px);
}

/* header */

header{
	position: absolute;
	z-index: 1000;
	padding-top: 15px;
}

/* Download Button (top) */

.dlbutton{
	display: initial;
	color: white;
	text-decoration: none;
	margin: 5px;
	border-left: 2px solid rgba(255,255,255,.5);
	border-right: 2px solid rgba(255,255,255,.5);
	border-bottom: 2px solid rgba(255,255,255,.5);
	border-top: 2px solid rgba(255,255,255,.5);
	padding: 5px 15px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	letter-spacing: 1px;
	transition: 0.4s;
}

.dlbutton .light{
	color: rgba(255,255,255,.5);
}

.dlbutton .bold{
}

.dlbutton:hover{
	color: #7f0000;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Nav Button */

.button{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #7f0000;
	position: fixed;
	display: block;
	right: 30px;
	top: 30px;
	transition: all .5s ease;
	box-shadow: 1px 2px 2px rgba(0,0,0,.15);
	transform: scale(1);
	cursor: pointer;
}

.button.turn{
	transform: rotate(45deg);
}

.button:hover{
	transform: scale(1.1);
	background-color: #7f0000;
}

.button::before, .button::after{
	content: '';
	position: absolute;
	height: 4px;
	width: 20px;
	background-color: white;
	left: 50%;
	margin-left: -10px;
	top: 50%;
	margin-top: -1px;
	transition: all .5s ease;
}

.button::before{
	margin-top: -5px;
}

.button::after{
	margin-top: 4px;
}

.button:hover::before, .button.turn::before{
	transform: rotate(90deg);
	margin-top: -1px;
} 

.button:hover::after, .button.turn::after {
	transform: rotate(0deg);
	margin-top: -1px;
}

.menu{
	visibility: hidden;
	opacity: 0;
	transition: all .5s ease;
	height: 100vh;
	width: 100%;
	background-color: rgba(102,100,100,.75);
	right: 0;
	top: -16px;
	position: fixed;
	z-index: 100;
	padding: 100px 0px 50px;
	text-align: center;
	transform: translateX(100%);
	list-style: none;
}

.on{
	visibility: visible;
	opacity: 1;
	transform: translateX(0);
}

.menu li{display: block;}

.menu li a{
	color: white;
	font-weight: bold;
	font-size: 36px;
	text-decoration: none;
	padding: 10px 25px;
	display: block;
	background-color: rgba(0,50,50,0);
	transition: all .5s ease;
}

.menu li a:hover{
	background-color: rgba(0,0,0,1);
}

/* Slider styling */

.wrapper {
	max-width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	background-image: url('https://i.ibb.co/mbDGwNF/double-xp-small-white.png');
	background-repeat:no-repeat;
	background-position: center;
	background-color: #343434;
}


.caption{
	position: absolute;
	color: black;
	z-index: 5;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	left: 50%;
	text-align: center;
}

.caption h1{
	display: inline-block;
	padding: 10px 30px;
	color: rgba(255,0,0,.6);
	transition-delay: 1s;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.caption h1 strong{
	color: rgba(255,0,0,.6);
}

/*Blinking Arrow */

.arrow-box{
	height: 40px;
	width: 40px;
	position: absolute;
	bottom: 50px;
	z-index: 5;
	left: 50%;
	margin-left: -20px;
	border: 4px solid rgba(0,0,0,.5);
	border-radius: 50%;
	animation: bounce 2s forwards infinite;
}

.arrow-box .left, .arrow-box .right{
	position: absolute;
	display: inline-block;
	height: 4px;
	width: 20px;
	background-color: red;
	left: 50%;
	margin-left: -10px;
	top: 50%;
	margin-top: -2px;
}

.arrow-box .left{
	transform: rotate(45deg);
	left: 35%;
}

.arrow-box .right{
	transform: rotate(-45deg);
	left: 65%;
}

/* About / Section 2*/

.about{
	background-color: white;
	padding: 60px 30px;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.content{
	max-width: 450px;
	margin: 0 auto;
	
}

.content h4{
	display: inline-block;
	font-weight: normal;
}

hr{
	width: 100px;
	border: 0;
	height: 2px;
	background-color: rgba(0,0,0,.5);
}

.content hr{
	background-color: rgba(255,0,0,.5);
	margin: 0 auto;
}

#about h4{
	line-height: 28px;
}

#question{
	text-decoration: underline;
}
/* Half section */

.columns{
	overflow: hidden;
}

.half{
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding: 60px;
	background-color: rgba(0,0,0,.8);
	color: white;
	text-align: left;
}

.half:last-child{
	background-color: rgba(0,0,0,1);
}

.half h4{
	line-height: 24px;
	margin: 0 0 40px;
	position: relative;
	display: inline-block;
}

.half h4::after{
	content: '';
	position: absolute;
	height: 4px;
	width: 50%;
	left: 0;
	bottom: -18px;
	background-color: white;
}

.half p{
	color: rgba(255,255,255,.75);
}

/* Get connected */

.features{
	position: relative;
	overflow: auto;
	min-height: 250px;
	background-color: white;
	padding: 60px 0px;
	text-align: center;
}

.features .columns{
	max-width: 1000px;
	width: 94%;
	margin: 0 auto;
	position: relative;
	text-align:center;
}

.features .content{
	margin-bottom: 60px;
	text-align: center;
}

.features .quarter{
	width: 25%;
	float: left;
	min-height: 250px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
	overflow: hidden;
	border: 3px solid white;
	box-sizing: border-box;
}

.quarter::after{
	content: '';
	position: absolute;
	height: 90%;
	width: 90%;
	top: 5%;
	transform: translateY();
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0,50,50,0);
	color: white;
	box-sizing: border-box;
	padding: 10px 5px;
	transition: all .5s ease;
}

.quarter:first-child{
	background-image: url('https://i.ibb.co/52ZXyK0/PS4.jpg');
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.quarter:nth-child(2){
	background-image: url('https://t4.ftcdn.net/jpg/01/63/52/53/240_F_163525347_DwHDYbkuIPPo7iLgeZCLHu7IpzJqRkhV.jpg');
}
.quarter:nth-child(3){
	background-image: url('https://i.ibb.co/9htctmF/Xbox-one.jpg');
}

.quarter:nth-child(4){
	background-image: url('https://i.ibb.co/BjdK98y/PC.jpg');
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.quarter:hover::after{
	background-color: rgba(255,255,255,.8);
}

.quarter .caption{
	opacity: 0;
	transition: all .5s ease;
}

.quarter:hover .caption{
	opacity: 1;
}

.features .btn{
	margin: 60px auto 0;
}

/* Host a tourney */

.work{
	padding: 60px 30px;
	background-image: url('https://i.ibb.co/zHCcR8q/dbl-xp-handheld.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left;
	background-color: ;
	position: relative;
	z-index: 1;
}

.work::after{
	content: '';
	position: absolute;
	z-index: 2;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.work .content{
	text-align: center;
	color: #7f0000;
	position: relative;
	z-index: 3;
}

.work hr{
	background-color: white;
}

.work .btn{
	border-color: #7f0000;
	color: black;
}

.work .btn:hover{
	background-color: #343434;
	color: #7f0000;
	border-color: black;
}

/*Footer*/
#social {
  position: absolute;
  text-align: center;
  width: 100%;
  background: -webkit-linear-gradient(90deg, #7F0000 0%, #FFF 35%);
  background: -moz-linear-gradient(#fff);
  
  
}

#social a{
  display: inline-block;
  color: black;
  text-decoration: none;
  margin: 1px 4px;
  padding: 10px;
  position: relative;
  -webkit-transition-duration: 0.4s; 
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#social a:hover{
  color: black;
  opacity: 0.9;
  text-shadow: 2px 3px 5px #343434;
  top: -3px;
}

/* Animations */

@keyframes bounce{
	0%{
		transform: translateY(0);
		opacity: 0;
	}
	100%{
		transform: translateY(10%);
		opacity: 1;
	}
}

.fadeUp{
	transition: all .5s ease;
	transform: translateY(30%);
	opacity: 0;
}

.fadeUp.in-view{
	transform: translateY(0);
	opacity: 1;
}

.fadeIn{
	transition: all .5s ease;
	opacity: 0;
}

.fadeIn.in-view{
	opacity: 1;
}

.fadeDown{
	transition: all .5s ease;
	transform: translateY(-50%);
	opacity: 0;
}

.fadeDown.in-view{
	transform: translateY(0);
	opacity: 1;
}

.fadeRight{
	transition: all .5s ease;
	transform: translateX(-100%);
	opacity: 0;
}

.fadeRight.in-view{
	transform: translateX(0);
	opacity: 1;
}

.fadeLeft{
	transition: all .5s ease;
	transform: translateX(100%);
	opacity: 0;
}

.fadeLeft.in-view{
	transform: translateX(0);
	opacity: 1;
}

/* mobile styling */

@media screen and (max-width: 800px) {
	.wrapper iframe{
		display: none;
	}
	
	.wrapper{
		background-repeat: no-repeat;
		background-position: center;
	}
	
	.half{
		width: auto;
		float: none;
		text-align: center;
	}
	
	.half:last-child{
		text-align: center;
	}
	
	.features .quarter{
		width: 50%;
	}
}

@media screen and (max-width: 500px) {
	.features .quarter{
		width: auto;
		float: none;
	}
}
